<header>
	<div class="header">Dragon Arrow <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> written by Tatsuya Nakaji, all rights reserved </span><img id="red_dragon" src="https://www.animatedimages.org/data/media/188/animated-dragon-image-0164.gif" border="0" height="50" alt="animated-dragon-image-0164" /></div>
</header>